# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media
/staticfiles
/static

# Migrations (эгер сактагың келбесе)
*/migrations/*.py
!*/migrations/__init__.py

# IDE/Editor
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
*.venv
venv/
ENV/
env/
